*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fredoka One', cursive;
    color: rgba(89,97,223,1);
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 50px auto 30px;
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score {
    height: 15vh;
    display: flex;
    /*justify-content: space-around;*/
    gap: 100px;
    align-items: center;
    border: solid 1px rgba(89,97,223,1);
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}
.score h2 {
    font-size: 30px;
}
.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
.intro {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s esase;
}
.intro h2 {
    font-size: 3.5rem;
    color: rgba(89,97,223,1);
}
.intro button,
.match button {
    width: 120px;
    height: 50px;
    background: rgba(245,116,185,1);
    border: none;
    border-radius: 15px;
    font-size: 1.1rem;
    font-family: 'Fredoka One', cursive;
    color: white;
    cursor: pointer;
}

.intro button:hover,
.match button:hover {
    background: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );;
}
.match {
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    transform: translate(-50%, -15%);
    transition: opacity 0.5s esase 0.5s;
}
.winner {
    text-align: center;
    font-size: 2.6rem;
}
.hands,
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;

}
.hands img {
    width: 10rem;
    height: 9rem;
}
.options button {
    margin: 1.8rem;
    
}
section.fadeOut {
    opacity: 0;
    pointer-events: none;
}
section.fadeIn {
    opacity: 1;
    pointer-events: all;
}