*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fredoka One', cursive;
    color: rgba(89,97,223,1);
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    margin: 3rem;
}
.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
}
.score {
    height: 10vh;
    display: flex;
    gap: 100px;
    align-items: center;
    border: solid 1px rgba(89,97,223,1);
    border-radius: 15px;
    padding: 3rem;
    margin: 0.9rem;
}
.score h2 {
    font-size: 1.8rem;
}
.score p {
    text-align: center;
    padding: 0.6rem;
    font-size: 1.5rem;
}
.intro {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s esase;
}
.intro h2 {
    font-size: 3.5rem;
    color: rgba(89,97,223,1);
}
.intro button,
.match button {
    width: 140px;
    height: 60px;
    background: rgba(245,116,185,1);
    border: none;
    border-radius: 15px;
    font-size: 1.1rem;
    font-family: 'Fredoka One', cursive;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.intro button:hover,
.match button:hover {
    background: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );;
}
.match {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -15%);
    transition: opacity 0.5s esase 0.5s;
}
.winner {
    text-align: center;
    font-size: 2.6rem;
    margin-top: 3rem;
    margin-bottom: 0.9rem;
}
.hands,
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin-top: 15rem; /* a ver */

}
.hands img {
    width: 11rem;
    height: 10rem;
}
.options button {
    margin: 1.8rem;
    
}
section.fadeOut {
    opacity: 0;
    pointer-events: none;
}
section.fadeIn {
    opacity: 1;
    pointer-events: all;
}
@media screen and (max-width: 640px){
    .header {
        font-size: 1.2rem;
        
    }
    .score {
        
        gap: 70px;
    }
    
    .match button {
        width: 100px;
        height: 40px;
        font-size: 0.8rem;
    }
    .hands,
    .options {
    
    margin-top: 2rem; /* a ver */

}
    .hands {
        margin-top: 6rem; /* a ver */
    }
    .hands img {
        width: 8rem;
        height: 7rem;
        margin-top: 6rem;
    }
    .options button {
        margin: 0 1rem; /* a ver */
    }
    .winner {
        font-size: 2rem;
    }
}